# LangSmith
LANGSMITH_TRACING=true
LANGSMITH_API_KEY=your_langsmith_key_here
LANGSMITH_PROJECT=lesson-11-personal-finance-crew
LANGSMITH_ENDPOINT=https://eu.api.smith.langchain.com

# App
APP_ENV=local
DATA_PATH=app/data/transactions.csv